<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.onedawn.mytrigger.triggercenter.dao.mapper.AppMapper">
    <insert id="register" parameterType="cn.onedawn.mytrigger.pojo.App">
        insert into 应用 values(null, #{appName}, #{appId})
    </insert>

</mapper>
